
<!DOCTYPE html>
<html lang="en" ng-app="lostBasketApp">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Lost basket Optimizer</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Custom CSS -->
<link href="css/custom.css" rel="stylesheet">
<!-- Custom CSS -->
<!-- Custom Fonts -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link
	href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
	rel="stylesheet">

<link
	href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
	rel="stylesheet">
</head>


<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>


<!-- Custom Core JavaScript -->
<script src="js/custom.js"></script>
<body ng-controller="lostBasketController">

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Lost basket Optimizer</a>
			</div>
			<!-- Top Menu Items -->

			<ul class="nav navbar-right top-nav">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-bell"></i> <b
						class="caret"></b></a>
					<ul class="dropdown-menu alert-dropdown">
						<li><a href="#">Alert Name <span
								class="label label-default">Alert Badge</span></a></li>
						<li><a href="#">Alert Name <span
								class="label label-primary">Alert Badge</span></a></li>
						<li><a href="#">Alert Name <span
								class="label label-success">Alert Badge</span></a></li>
						<li><a href="#">Alert Name <span class="label label-info">Alert
									Badge</span></a></li>
						<li><a href="#">Alert Name <span
								class="label label-warning">Alert Badge</span></a></li>
						<li><a href="#">Alert Name <span
								class="label label-danger">Alert Badge</span></a></li>
						<li class="divider"></li>
						<li><a href="#">View All</a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-user"></i> Siva Kumar C
						<b class="caret"></b></a></li>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li><a href="index.html"><i class="fa fa-fw fa-dashboard"></i>
							Simulation</a></li>
					<li><a href="charts.html"><i
							class="fa fa-fw fa-bar-chart-o"></i> Optimizer</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div id="page-wrapper">

			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Lost basket Optimizer</h1>
					</div>
				</div>
				<!-- /.row -->

			</div>
			<!-- /.container-fluid -->

			<!-- CATEGORY -->
			<div class="row">

				<div class="col-lg-4 well">

					<div class="form-group">
						<div>
							<label> Step 1</label>
						</div>
						<label for="select">Select Category</label> <select
							ng-model="category" class="form-control">
							<option>Category A</option>
							<option>Category B</option>
							<option>Category C</option>
						</select>
					</div>
				</div>
				<div class="col-lg-4 well">
					<div class="form-group">
						<div>
							<label> Step 2</label>
						</div>
						<div>
							<label>Date Range :</label>
						</div>
						<input type="text" class="form-control" name="daterange" />

						<script type="text/javascript">
							$(function() {
								$('input[name="daterange"]').daterangepicker();
							});
						</script>
					</div>
				</div>
				<div class="col-lg-4 well">
					<div class="form-group">
						<div>
							<label> Step 3</label>
						</div>
						<label>Geography</label> <input class="form-control"
							ng-model="geography" placeholder="Enter Geography">
					</div>

				</div>

				<div class="col-lg-4">
					<div class="form-group"></div>
				</div>
				<div class="col-lg-1 floatRight">
					<button type="button" class="btn btn-primary">Go!</button>
				</div>

				<div class="col-lg-12 paddingBottom">
					<h2>Data :</h2>
					<div class="table-responsive">
						<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th>Flavour</th>
									<th>Pack Content</th>
									<th>User</th>
									<th>Variant</th>
									<th>Brand</th>
									<th>Segement</th>
									<th>National Distribution</th>
									<th>Retail Chain A</th>
									<th>Select/Unselect</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="input in inputs | filter : category | filter : geography">
									<td>{{input.flavour}}</td>
									<td>{{input.packContent}}</td>
									<td>{{input.user}}</td>
									<td>{{input.variant}}</td>
									<td>{{input.brand}}</td>
									<td>{{input.segment}}</td>
									<td>{{input.nationalDistribution}}</td>
									<td>{{input.retailChainA}}</td>
									<td><input type="checkbox" align="center"></input></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
			<!-- CATEGORY -->
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->


</body>

</html>
